* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-600);
}

body {
    margin: 0;
    background-color: var(--bg-white);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    line-height: normal;
    font-family: var(--font-400);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;

    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        outline: none;
        cursor: pointer;
    }
}

input, select, textarea {
    outline: none;
    border: none;
    font-family: var(--font-500);
}

// Container
.container {
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 1728px) {
        max-width: 1520px;
    }

    @media (min-width: 1660px) {
        max-width: 1420px;
    }

    @media (min-width: 1440px) {
        max-width: 1320px;
    }

    @media (max-width: 1366px) {
        max-width: 1280px;
    }

    @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
        max-width: none;
    }
}

// App
.app {
    padding-top: 150px;
    overflow-x: hidden;

    @media (max-width: 1024px) {
        padding-top: 100px;
    }
}

// Section
.section {
    position: relative;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
        padding-bottom: 50px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 30px;
            gap: 10px;
        }

        &.align-center {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .section__title {
                text-align: center;
                margin-bottom: 20px;
            }

            .section__meta {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 100px;
                    height: 1px;
                    background-color: var(--accent-color);
                }
            }

            .section__text {
                text-align: center;
                max-width: 60%;
            }
        }

        &.column {
            flex-direction: column;
            gap: 50px;
            align-items: flex-start;

            @media (max-width: 1660px) {
                gap: 30px;
            }
        }

        &--col {
            width: 50%;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }
    }

    &__title {
        display: block;
        color: var(--text-dark);
        text-transform: uppercase;
        line-height: 1;

        @media (max-width: 1024px) {
            line-height: 1.1;
        }
        
        span {
            font-family: var(--font-700);
            color: var(--text-light);
        }

        br {
            @media (max-width: 540px) {
                display: none;
            }
        }
        
        .section__btn {
            position: relative;
            bottom: 25px;
            margin-left: 35px;

            @media (max-width: 1024px) {
                margin-left: 20px;
            }

            @media (max-width: 540px) {
                bottom: 10px;
            }
        }
        
        &.large {
            font-size: var(--font-xxl);
            font-family: var(--font-700);
        }

        &.middle {
            font-size: var(--font-xl);
            font-family: var(--font-600);
        }

        &.small {
            font-size: var(--font-lg);
            font-family: var(--font-600);
            line-height: 1.4;
        }

        &.italic {
            font-family: var(--italic-600);
        }
    }

    &__subtitle{
        display: block;
        font-family: var(--font-600);
        font-size: var(--font-sm);
        color: var(--text-dark);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: var(--font-xs);
        color: var(--accent-color);
        text-transform: uppercase;
        margin-bottom: 15px;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            width: 100px;
            height: 1px;
            background-color: var(--accent-color);

            @media (max-width: 540px) {
                width: 70px;
            }
        }
    }

    &__text {
        display: block;
        font-family: var(--font-500);
        color: var(--text-middle);
        font-size: var(--font-xs);
        line-height: 1.8;

        @media (max-width: 1660px) {
            font-size: var(--font-xxs);
        }

        @media (max-width: 992px) {
            max-width: none;
            font-size: var(--font-xs);
        }

        @media (max-width: 540px) {
            max-width: none;
            font-size: var(--font-sm);
        }
    }

    &__btn {
        display: inline-block;
        max-width: max-content;
        height: 80px;
        padding-left: 40px;
        padding-right: 90px;
        border-radius: 45px;
        position: relative;
        background-color: var(--primary-color);
        color: var(--primary-text);
        text-transform: uppercase;
        font-size: var(--font-xxs);
        letter-spacing: 0.5px;
        transition: var(--transition-sm);

        @media (max-width: 540px) {
            height: 40px;
            padding-left: 15px;
            padding-right: 45px;
        }

        &:hover {
            .section__btn--arrow {
                transform: scale(1.1);
            }
        }

        &--arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: var(--accent-color);
            color: var(--accent-text);
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 10px;
            transition: var(--transition-sm);

            @media (max-width: 540px) {
                width: 30px;
                height: 30px;
                top: 5px;
                bottom: 5px;
                right: 5px;
            }

            svg {
                width: 24px;
                height: 24px;
                color: var(--accent-text);

                @media (max-width: 1660px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &__wrap {
        position: relative;
        display: block;
        width: 100%;
        padding: 120px 0;
        border-bottom: 1px solid var(--border-color);

        @media (max-width: 1024px) {
            padding: 50px 0;
        } 
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 90px;

        @media (max-width: 1024px) {
            padding-top: 50px;
        }
    }
}

// Page
.page {
    position: relative;

    &__wrap {
        display: block;
        width: 100%;
        padding: 90px 0 120px;
        border-bottom: 1px solid var(--border-color);

        @media (max-width: 1024px) {
            padding: 30px 0 50px;
        }
    }
    

    &__header {
        display: block;
        position: relative;
        padding-bottom: 90px;

        @media (max-width: 1660px) {
            padding-bottom: 60px;
        }

        @media (max-width: 1024px) {
            padding-bottom: 30px;
        }
    }

    &__title {
        display: block;
        font-family: var(--font-700);
        font-size: var(--font-xl);
        color: var(--text-dark);
        text-transform: uppercase;
        line-height: 1.4;
        margin-bottom: 30px;

        @media (max-width: 1660px) {
            margin-bottom: 20px;
        }

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        &.text-center {
            text-align: center;
        }
    }

    &__text {
        display: block;
        font-family: var(--font-500);
        font-size: var(--font-xs);
        color: var(--text-middle);
        line-height: 1.6;
    }
}

// Library Reset

// Select
.ant-select {
    width: 100%;

    &.ant-select-lg {
        height: 90px;

        @media (max-width: 1660px) {
            height: 60px;
        }
    }
}

.ant-select.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0 40px;

    @media (max-width: 1660px) {
        padding: 0 25px;
    }
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 88px;

    @media (max-width: 1660px) {
        height: 58px;
    }
}

.ant-select .ant-select-arrow {
    inset-inline-end: 20px;
}

.ant-select-single.ant-select-lg.ant-select-show-arrow .ant-select-selection-placeholder {
    font-family: var(--font-500);
    color: var(--text-dark);
}

// Input
.ant-input-lg {
    height: 90px;
    padding: 0 40px;
    font-family: var(--font-500);
    color: var(--text-dark);
    
    @media (max-width: 1660px) {
        height: 60px;
        padding: 0 25px;
    }
}

// Date Input
.ant-picker-large {
    width: 100%;
    height: 90px;
    padding: 0 40px;

    @media (max-width: 1660px) {
        height: 60px;
        padding: 0 25px;
    }
}

.ant-picker .ant-picker-input >input:placeholder-shown {
    font-family: var(--font-500);
    color: var(--text-dark);
}

// Collapse
.ant-collapse-borderless >.ant-collapse-item {
    @media (max-width: 540px) {
        margin-bottom: 20px !important;
    }
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header {
    padding: 35px 60px;

    @media (max-width: 540px) {
        padding: 15px 20px 10px;
    }
}

.ant-collapse>.ant-collapse-item.ant-collapse-item-active >.ant-collapse-header {
    padding: 35px 60px 10px;

    @media (max-width: 540px) {
        padding: 15px 20px 10px;
    }
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-header-text {
    font-size: var(--font-sm);

    @media (max-width: 1660px) {
        font-size: var(--font-xs);
    }
}

.ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon {
    position: relative;
    top: -4px;

    @media (max-width: 1660px) {
        top: 4px;
    }
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
    padding: 0 110px 40px 75px;

    @media (max-width: 540px) {
        padding: 0 20px 20px 20px;
    }

    p {
        font-size: var(--font-xxs);
        line-height: 1.8;
    }
}